body{
    background-color: #130e48;
    font-family: 'Roboto',sans-serif;
}

#main{
    color:#fff;
}
img{
    width: 150px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border:6px solid #efa593;
    max-width:100px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#img div {
    text-align:center;
    align-content:center;
    justify-content: center;

}
#title{
    text-align:right;
    margin-right : 15px;
    font-size: 15px;

}
#info{
    display:flex;
    top:20px;
    position:absolute;
    border:2px solid#efa593;
    flex-direction: column-reverse;
}
#tribute info {
    width: 35%;
    margin-left: 3%;
    border:2px solid #efa593;
    border-radius: 10px;
}
#image-caption {
    text-align: center;
}